<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
  </head>
  <body>
   
    <style>
      body {
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/free-vector/modern-luxury-background-abstract_343694-1730.jpg?w=1060&t=st=1664946742~exp=1664947342~hmac=71a5732abfd88cea3017fa0e0527a902ef838151750cd5ec686d92d24c07c9fa) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}
    </style>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
      <h3>Admin Log-in</h3>

      <form action="/admin" method="post">

    
    
          <div class="inputBox">
            <div id="emailSpan"></div>
             <input id="email" type="text" name="username" placeholder="Admin email" required="true" onkeyup="emailValidation()"> 
             <div id="passwordSpan"></div>
             <input id="password" type="password" name="password" placeholder="Password" required="true" onkeyup="passwordValidation()">
              <% if(loggInErr===true){ %>
       <p class="text" style="color: red;">*Invalid email or password</p>
               <%} %>
              </div> <a href=""><input type="submit" name="" value="Login"></a>
      </form> 
   
      <a href="/login">User login<br> </a>
      
  </div>
  </body>
</html>

<script>

  
   function emailValidation() {
      const email = document.getElementById('email').value.trim()
      let spanEmail = document.getElementById('emailSpan')
      if (email.length > 9) {
        spanEmail.innerHTML = 'Email is valid'
        spanEmail.style.color = 'green'
      }
      else {
        spanEmail.innerHTML = 'Valid Email is required'
        spanEmail.style.color = 'red'
      }

    }
     function passwordValidation() {
      const password = document.getElementById('password').value.trim()
      let spanPassword = document.getElementById('passwordSpan')
      if (password.length >= 6) {
        spanPassword.innerHTML = 'Password is valid'
        spanPassword.style.color = 'green'
      }
      else {
        spanPassword.innerHTML = '6 Letter Password is required'
        spanPassword.style.color = 'red'
      }

    }
</script>