<!DOCTYPE html>
<html>

<head>
    <title>
        Phone Number
    </title>
    <link rel='stylesheet' href='/stylesheets/otp.css' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>



    <form action="/otpVerify" id="myform" method="post">



        <div class="container height-100 d-flex justify-content-center align-items-center">
            <div class="position-relative">
                <h3 class="text-center text-warning  ">OTP Verify</h3>
                <div class="card p-2 text-center">
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    <div> <span>A 6 digit code has been sent to</span> <small class="text-success"><%-phone%></small> </div>
                    
                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                        <input type="hidden" class="m-2 text-center form-control"  type="number" name="phone"  value="<%-phone%>"/>
                        <input class="m-2 text-center form-control"  type="number" name="otp" maxlength="6"  required='true'/>
                    </div>
                    <div class="mt-4"> <button class="btn btn-success px-4 validate">Submit</button> </div>
                </div>
            </div>
        </div>





    </form>


    </div>

    <script>



        function phoneValidation() {
            const phone = document.getElementById('phone').value.trim()
            let spanPhone = document.getElementById('phoneSpan')
            if (phone.length == 10) {
                spanPhone.innerHTML = 'Phone No is Valid'
                spanPhone.style.color = 'green'
            } else {
                spanPhone.innerHTML = 'Phone number is not Valid'
                spanPhone.style.color = 'red'
            }
        }

        document.addEventListener("DOMContentLoaded", function (event) {

            function OTPInput() {
                const inputs = document.querySelectorAll('#otp > *[id]');
                for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
            } OTPInput();
        });

    </script>




</body>

</html>