
  

    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
  
          <li class="active">
            <a href="/admin/adminDashboard"> Dashboard</a>
            
          </li>
          <li>
            <a href="/admin/productManagement"> Products</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
              
  
            </ul>
          </li>
          <li>
            <a href="/admin/userManagement">User Management</a>
          </li>
          <li>
            <a href="/admin/catagoryManagement">Catagory Management</a>
          </li>
          <li>
            <a href="/admin/orderManagement">Orders</a>
          </li>
          <li>
            <a href="#">Coupons</a>
          </li>
          

        </ul>
      </div>
    